body {
  background-color: #EAF6F6;
}
hr {
  border-top-style: dotted;
  border-bottom-style: none;
  border-right-style: none;
  border-left-style: none;
  border-color: grey;
  height: 2px;
  width: 20%;
  border-width: 3px;

}
h1 {
  color: #66BFBF;
}
h3 {
  color: #66BFBF;
}
